/*
STYLESHEET FOR JAVAFXGRAPH VISUALIZATION
*/

.graph {
    -fx-background-color: #F4FFFB;
}

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #B1DFF7;
}

.vertex-label {
    -fx-font: bold 8pt "sans-serif";
}

.vertex-distance {
    -fx-font: normal 10pt "sans-serif";
    -fx-fill: #ff0000;
}

.vertex-id {
    -fx-font: bold 8pt "sans-serif";
    -fx-fill: #61B5F1;
}

.edge {
    -fx-stroke-width: 3;
    -fx-stroke: #4f4f4f;
    /*-fx-stroke-dash-array: 2 5 2 5; !* remove for clean edges *!*/
    -fx-fill: transparent; /*important for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge-label {
    -fx-font: normal 10pt "sans-serif";
    /*-fx-underline: true;*/
}

.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #4f4f4f;
    -fx-opacity: 0.8;
}

.pickedVertex {
    -fx-stroke-width: 3;
    -fx-stroke: red;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: #B1DFF7;
}


.vertex-unqueued {
    -fx-fill: #eee;
    -fx-stroke: #ff8a27;
}

.vertex-highlighted {
    -fx-fill: #52BC69;
    -fx-stroke: #52BC69;
}

.vertex-traversed {
    -fx-fill: #ff8a27;
    -fx-stroke: #ff8a27;
}

.vertex-current {
    -fx-fill: #ff8a27;
    -fx-stroke: #ff8a27;
}

.edge-useless {
    -fx-stroke: #ccc;
}

.edge-highlighted, .arrow-highlighted {
    -fx-stroke: #52BC69;
    -fx-stroke-width: 4;
}

.edge-traversed, .arrow-traversed {
    -fx-stroke: #ff8a27;
}

.edge-label-highlighted {
    -fx-fill: #4be60e;
}

.vertex-label-traversed, .edge-label-traversed {
    -fx-fill: #ff8a27;
}

.vertex-label-unqueued, .edge-label-useless {
    -fx-fill: #ccc;
}

.arrow-unqueued {
    -fx-stroke: #ccc;
}

.vertex-label-highlighted {
    -fx-fill: #52BC69 !important;
}

.slider .track {
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}